body{
  background-color: #222A35;
}
.heading1{
  float: left;
  color:white;
}
.heading1 h1{
  font-family: Arial;
  font-size: 2.5em;
  padding-bottom: 10px;
}
.heading2{
  float: right;
  width: 250px;
  color:white;
}
h4{
  color: #007EBF;
}
.column{
  width: 295px;
  float: left;
  padding-top: 400px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
}
.column h3{
  color: #007EBF;
}
.link{
  color: #003333;
  padding-top: 650px;
  text-align: center;
  font-size: 1.875em;
}
.font{
  font-family: Arial;
  font-size: 1.25em;
}
@media screen and (min-width: 400px)and (max-width: 1000px) {
  body {
     background-color: #222A35;
     color: white;
  }
  a{
    color: #0099FF;
  }
  .heading2{
    float: left;
    width: 250px;
    padding: 0px;
    color:white;
  }
  .column{
    width: 250px;
    float: left;
    padding: 100px;
  }
}
